<footer>
  <p class="contained"><a href="https://github.com/netlify/netlify-cms/blob/master/LICENSE" class="text-link">Distributed under MIT License</a> · 
  <a href="https://github.com/netlify/netlify-cms/blob/master/CODE_OF_CONDUCT.md" class="text-link">Code of Conduct</a></p>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{{ if or (eq .Section "docs") (eq .Title "Docs") }}
  <script src="/jquery.scrollTo.min.js"></script>
  <script src="/jquery.localScroll.min.js"></script>
  <script src="/prism.js"></script>
{{ end }}
<script src="/app.js"></script>
</body>
</html>
