.collab {
  margin: $small auto;

  @media screen and (min-width: $mobile) {
    margin: $medium auto;
  }

  @media screen and (min-width: $tablet) {
    margin: $large auto;
  }

  h1 {
    text-align: center;
    margin-bottom: $large;
  }

  .collab-graphic {
    @neat-span-columns 4;
    @neat-shift 1;
  }

  p {
    @neat-span-columns 5;
    @neat-shift 1;
    margin-top: $medium;
  }
}