footer {
  @neat-row;
  background: $darkerGrey;
  background-image: linear-gradient(-17deg, $darkerGrey 17%, $darkGrey 94%);
  color: white;
  overflow: hidden;
  padding: $large 0;
  position: relative;

  &:before {
    background: url('/img/bow.svg') no-repeat bottom center;
    background-size: contain;
    top: 0;
    content: '';
    height: $xl;
    left: -$xl;
    position: absolute;
    right: -$xl;
    transform: rotate(180deg);
    width: calc(100% + ($xl * 2));
    z-index: 3;
  }

  .footer-hook {
    position: relative;
    @neat-span-columns 5;

    &:after {
      background-image: linear-gradient(-60deg, $lightGreen 14%, $green 94%);
      content: ' ';
      height: 800px;
      position: absolute;
      right: 0;
      top: -$xl;
      width: 10000px;
    }

    h1 {
      color: $grey;
      font-size: 44px;
      font-weight: $black;
      line-height: 57px;
      position: relative;
      z-index: 2;
      margin-top: $large;
    }
  }

  .footer-content {
    box-sizing: border-box;
    padding-left: $large;
    @neat-span-columns 7;

    img {
      margin: 0 0 calc($medium * .75) -25px;
    }
  }
}