header {
  background: transparent;
  box-shadow: none;
  font-family: $roboto;
  padding: $medium 0;
  position: absolute;
  text-align: center;
  transition: background .2s ease, padding .2s ease, box-shadow .2s ease;
  width: 100%;
  z-index: 100;

  @media screen and (min-width: $mobile) {
    text-align: right;
    position: fixed;
  }

  &.scrolled {
    @media screen and (min-width: $mobile) {
      background: $darkGrey;
      padding: $small 0;
    }
  }

  a {
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin-left: $micro;

    &:not(:first-child):not(:last-child) {
      display: none;

      @media screen and (min-width: 705px) {
        display: initial;
      }
    }
  }

  input.closed {
    color:red;
    display: none;
  }

  input {
    display: none;
    padding-left: 0;
    border: none;
    border-radius: 0;
    appearance: none;
    background: none;
    color: $lightGrey;
    display: block;
    font-size: $tiny;
    font-weight: $regular;
    height: $medium;
    padding-left: 0;
    -webkit-appearance: none;
    width: 100%;
    visibility: visible;

    &:focus {
      outline: none;
      display: block;

      ~ .bar {
        &::before,
        &::after {
          width: 50%;
        }
      }

      ~ .button-submit {
        margin-top: -35px;
      }
    }

  }

  .utility-input {
    display: block;
    padding: $micro;
    white: 168px;
    width: auto;
    border: 1px solid #e8eaeb;
    border-radius: 4px;
    background: none;
    color: white;
    margin-right: 8px;
    padding-bottom: 9px;
    text-align: left;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    transition: all .2s ease-in-out;

    &:focus,
    &:active {
      outline-style: none;
    }

    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder  {
      font-size: $tiny;
      font-weight: $semibold;
      text-align: left;
      text-decoration: none;
      line-height: $small;
    }
  }

  .logo {
    margin: 0 auto $tiny auto;
    width: 100%;

    @media screen and (min-width: $mobile) {
      float: left;
      margin: -3px 0 -6px 0;
      width: initial;
    }
  }
}
