header {
  background: transparent;
  box-shadow: none;
  font-family: $roboto;
  position: absolute;
  text-align: center;
  transition: background .2s ease, padding .2s ease, box-shadow .2s ease;
  width: 100%;
  z-index: 100;

  @media screen and (min-width: $mobile) {
    text-align: right;
    position: fixed;
  }

  &.scrolled {
    @media screen and (min-width: $mobile) {
      background: $darkGrey;
      padding: $small 0;
    }
  }

  a {
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin-left: $micro;

    &.docs-link {
      display: none;

      @media screen and (min-width: 550px) {
        display: initial;
        margin-right: 12px;
      }

      @media screen and (min-width: 653px) {
        margin: initial;
      }
    }
  }

  .contained {
    margin-top: $micro;
  }
  .algolia-search {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    background: none;
    color: $lightGrey;
    display: inline-block;
    font-size: $tiny;
    font-weight: $regular;
    padding: 2px $micro $micro 0;
    visibility: visible;

    &:focus {
      outline: none;

      ~ .bar {
        &::before,
        &::after {
          width: 50%;
        }
      }

      ~ .button-submit {
        margin-top: -35px;
      }
    }

    &.closed {
      color:red;
      display: none;
    }
  }

  .search-button {
    background-color: #2a2c2d;
    border: none;
  }

  .search-icon {
    position: relative;

    @media screen and (min-width: $tablet) {
      top: -3px;
    }

    .search-icon-circle {
      height: 6px;
      border: 2px solid $lightGrey;
      border-radius: $xl;
      transition: all .4s ease;
      width: 6px;
    }

    .search-icon-rectangle {
      border: 1px solid $lightGrey;
      border-radius: 3px;
      bottom: -2px;
      position: absolute;
      right: -4px;
      transform: rotate(45deg);
      transition: all .2s linear;
      width: 5px;
    }
  }

  .utility-input {
    display: none;
    padding: $micro;
    width: auto;
    border: 1px solid #e8eaeb;
    border-radius: 4px;
    background: none;
    color: white;
    margin-right: 8px;
    text-align: left;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    transition: all .2s ease-in-out;

    @media screen and (min-width: 653px) {
      display: inline;
    }

    &:focus,
    &:active {
      outline-style: none;
    }

    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder  {
      font-size: $tiny;
      font-weight: $semibold;
      text-align: left;
      text-decoration: none;
      line-height: $small;
    }
  }

  .logo {
    margin: 0 auto $tiny auto;
    width: 100%;

    @media screen and (min-width: $mobile) {
      float: left;
      margin: -$micro 0 -6px 0;
      width: initial;
    }

    @media screen and (min-width: 653px) {
      margin-top: 1px
    }
  }
}
