header {
  background: transparent;
  box-shadow: none;
  font-family: $roboto;
  padding: $medium 0;
  position: absolute;
  text-align: center;
  transition: background .2s ease, padding .2s ease, box-shadow .2s ease;
  width: 100%;
  z-index: 100;

  @media screen and (min-width: $mobile) {
    text-align: right;
    position: fixed;
  }

  &.scrolled {
    @media screen and (min-width: $mobile) {
      background: $darkGrey;
      padding: $small 0;
    }
  }

  a {
    color: white;
    display: inline-block;
    vertical-align: middle;
    margin-left: $micro;

    &:not(:first-child):not(:last-child) {
      display: none;

      @media screen and (min-width: 665px) {
        display: initial;
      }
    }
  }

  input.closed {
    color:red;
    display: none;
  }

  input {
    display: block;
    padding: $micro;
    padding-left: 0;
    width: 100%;
    border: none;
    border-radius: 0;
    appearance: none;
    background: none;
    color: $lightGrey;
    display: block;
    font-size: $tiny;
    font-weight: $regular;
    height: $medium;
    padding-left: 0;
    -webkit-appearance: none;
    width: 100%;
    visibility: visible;

    &:focus {
      outline: none;

      ~ .bar {
        &::before,
        &::after {
          width: 50%;
        }
      }

      ~ .button-submit {
        margin-top: -35px;
      }
    }

  }

  .search-icon-circle {
    @media screen and (min-width: $tablet) {
      width: 13px;
      height: 13px;
      border-width: 3px;
    }

    @media screen and (min-width: $desktop) {
      width: 6px;
      height: 6px;
      border-width: 2px;
    }
  }

  .search-icon-rectangle {
    @media screen and (min-width: $tablet) {
      right: -5px;
      bottom: -2px;
      width: $micro;
      border-width: 2px;
    }
    @media screen and (min-width: $desktop) {
      right: -4px;
      bottom: -2px;
      width: 5px;
      border-width: 1px;
    }
  }

  .search-button {
    background-color: #2a2c2d;
    border: none;
  }

  .search-icon {
    position: relative;

    @media screen and (min-width: $tablet) {
      top: -1px;
    }

    .search-icon-circle {
      width: 13px;
      height: 13px;
      border: 3px solid $lightGrey;
      border-radius: $xl;
      transition: all .4s ease;

      @media screen and (min-width: $tablet) {
        width: 6px;
        height: 6px;
        border-width: 2px;
      }
    }

    .search-icon-rectangle {
      position: absolute;
      right: -5px;
      bottom: -2px;
      width: $micro;
      transform: rotate(45deg);
      border: 2px solid $lightGrey;
      border-radius: 3px;
      transition: all .2s linear;

      @media screen and (min-width: $tablet) {
        right: -4px;
        bottom: -2px;
        width: 5px;
        border-width: 1px;
      }

      &.left {
        visibility: hidden;
        transition-delay: .1s;
      }
    }

    &.active {
      @media screen and (max-width: 767px) {
        .search-icon-circle {
          height: 0;
          width: 0;
          transform: translate(-$micro, $micro);
        }

        .search-icon-rectangle {
          right: -5px;
          bottom: -$micro;
          width: 28px;

          &.left {
            visibility: visible;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  .utility-input {
    display: block;
    padding: $micro;
    white: 168px;
    width: auto;
    border: 1px solid #e8eaeb;
    border-radius: 4px;
    background: none;
    color: white;
    margin-right: 8px;
    text-align: left;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    transition: all .2s ease-in-out;

    &:focus,
    &:active {
      outline-style: none;
    }

    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder  {
      font-size: $tiny;
      font-weight: $semibold;
      text-align: left;
      text-decoration: none;
      line-height: $small;
    }
  }

  .logo {
    margin: 0 auto $tiny auto;
    width: 100%;

    @media screen and (min-width: $mobile) {
      float: left;
      margin: -3px 0 -6px 0;
      width: initial;
    }
  }
}
