{{ partial "header" . }}

<section class="hero">
  <div class="contained">

    <div class="hero-copy">
      <h1 class="headline">{{ .Site.Data.landing.hero.headline | markdownify }}</h1>
      <h2 class="subhead">{{ .Site.Data.landing.hero.subhead | markdownify }}</h2>
      <a href="{{ .Site.Data.landing.cta.primarycta.link }}" class="btn-primary inverted">{{ .Site.Data.landing.cta.primarycta.copy }}</a>
      <a href="{{ .Site.Data.landing.cta.secondarycta.link }}" class="btn-secondary inverted">{{ .Site.Data.landing.cta.secondarycta.copy }}</a>
      <p class="mooseheads">
        <strong>As seen on...</strong>
        <img src="/img/smashing-logo.svg"/>
      </p>
    </div>

    <div class="hero-graphic">
      <video autoplay poster="{{ .Site.Data.landing.productvideo.thumb }}">
        <source src="{{ .Site.Data.landing.productvideo.mp4 }}" type="video/mp4">
        <source src="{{ .Site.Data.landing.productvideo.ogg }}" type="video/ogg">
        <source src="{{ .Site.Data.landing.productvideo.webm }}" type="video/webm">
      </video>
      <p class="thanks-devs">{{ .Site.Data.landing.thanksdevs | markdownify }}</p>
    </div>

  </div>
</section>

<!-- {{ partial "footer" . }} -->
